@import '../../../../styles.scss';

.bs-footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   background-color: #f3f3f3;
   color: #fff;
   font-size: 20px;
}